<div class="container js_container">
    <%- partial('_partial/article') %>
    <% if (page.total > 1){ %>
    <nav id="page-nav" class="weui_cells">
        <%- paginator({
            prev_text: '<span></span>Prev',
            next_text: 'Next<span></span>'
        }) %>
    </nav>
    <% } %>
</div>