<div class="weui_cells weui_cells_access global_navs">
    <a class="weui_cell js_cell" href="javascript:;" data-id="cell" id="showActionSheet">
        <span class="weui_cell_hd"><img src="/images/icon_nav_cell.png" class="icon_nav" alt=""></span>
        <div class="weui_cell_bd weui_cell_primary">
            <p>菜单</p>
        </div>
        <div class="weui_cell_ft">
        </div>
    </a>
</div>